<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All goods</title>
    <div th:insert="reusableElems :: links"></div>
</head>
<body>
    <div th:insert="reusableElems :: header"></div>
    <div th:insert="reusableElems :: selectStores"></div>
    <div class="container">
        <div th:insert="reusableElems :: searchForView"></div>
    </div>


    <table class="table" id="goodsTab" style="margin-bottom: 50px">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Номер склада</th>
            <th scope="col">Размер товара (м2)</th>

        </tr>
        </thead>
        <tbody>
            <tr th:each="good: ${goods}">
                <td th:text="${good.Id}"></td>
                <td th:text="${good.Name}"></td>
                <td th:text="${good.Price}"></td>
                <td th:text="${good.Store}"></td>
                <td th:text="${good.Size}"></td>
            </tr>
        </tbody>
    </table>


    <script type="text/javascript">
        function clear() {
            window.location = "[[@{/goods}]]";
        }

    </script>
</body>
</html>