<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Search by name</title>
    <div th:insert="reusableElems :: links"></div>
</head>

<body>
    <div th:insert="reusableElems :: header"></div>

    <div class="container" style="margin: 0 auto; padding-top: 70px">
        <div th:insert="reusableElems :: searchForEdit"></div>

        <table class="table table-bordered ">
            <thead>
                <tr>

                    <th scope="col">Название товара</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Размер товара (м2)</th>
                    <th scope="col">Номер склада</th>
                    <th scope="col">Удалить товар</th>
                </tr>
            </thead>
            <tbody th:each="good : ${goods}">
                <tr>
                    <td>
                        <form th:action="@{SearchByName/editName}" method="post">
                            <input type="text" class="form-control" name="goodName" th:value="${good.Name}">
                            <input type="hidden" name="goodId" th:value="${good.Id}">
                            <input type="submit" class="btn btn-primary" value="Изменить">
                        </form>
                    </td>


                    <td>
                        <form th:action="@{SearchByName/editPrice}" th:method="post">
                            <input type="text" class="form-control" name="goodPrice" th:value="${good.Price}">
                            <input type="hidden" name="goodId" th:value="${good.Id}">
                            <input type="submit" class="btn btn-primary" value="Изменить">
                        </form>
                    </td>
                    <td>
                        <form th:action="@{SearchByName/editSize}" th:method="post">
                            <input type="text" class="form-control" name="goodSize" th:value="${good.Size}">
                            <input type="hidden" name="goodId" th:value="${good.Id}">
                            <input type="submit" class="btn btn-primary" value="Изменить">
                        </form>
                    </td>

                    <td>
                        <form th:action="@{SearchByName/editStore}" th:method="PATCH">
                            <input type="text" class="form-control" name="goodStore" th:value="${good.Store}">
                            <input type="hidden" name="goodId" th:value="${good.Id}">
                            <input type="submit" class="btn btn-primary" value="Изменить">
                        </form>
                    </td>

                    <td>
                        <form th:action="@{SearchByName/deleteGood}" th:method="DELETE">
                            <input type="hidden" name="goodId" th:value="${good.Id}">
                            <input style="width: 100%" type="submit" class="btn btn-danger" value="Удалить">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>

</html>